.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}

.profilePicture {
  border: 2px solid black;
  border-radius: 50%;
  width: min(15rem, 100%);
  height: auto;
}
